fieldset {
    margin-inline-start: 400px;
    margin-inline-end: 500px;
    background-color: white;
    margin-top: 50px;
    text-align: center;
    padding: 1rem;
   
  form {
    text-align: justify;
    display: grid;
    place-content: center; } 
}
