fieldset {
  width: 50%;
  margin: auto;
  background-color: white;
  text-align: center;
  padding: .5rem;

  form {
    display: grid;
    place-content: center;
    input{
      margin-bottom: .5rem;
    }
    textarea{
      margin-bottom: .5rem;
    }

  }
}
