footer {
  background-color: black;
  display: grid;
  place-content: center;
  padding: 2rem;
  iframe{
    height: 300px;
    width: 500px;
  } 
}
  
@media(max-width:600px){
  footer{
    iframe{
      width: 300px;
    }
  }
}
 
  