body{
  background: rgb(16, 16, 110);

}

main{
  min-height: 90vh;

  .slide{
    width: 80%;
    margin: 1rem auto;
    img{
      border: solid 4px black;
      height: 700px;
      object-fit: cover;
    }
  }
}

// UBICACIÓN

.seccion-ubicacion{
  text-align: center;
  .titubi {
    color: red;
    margin: 1.5rem 0;
  }
  .subtitubi {
    font-weight: 400px;
    color: red;
  }
  .imgubi {
    margin-bottom: 1.5rem;
    height: 500px;
    width: 450px;
    object-fit: cover;
  }
}


// TROFEOS

.seccion-trofeos{
  margin: 2rem;
  text-align: center;
  .tittrof {
    font-weight: 700;
    color: red;
    margin-bottom: 1rem;
  }
  div{
    display: grid;
    place-content: center;
    .imgtrof {
      width: 60%;
      height: 600px;
      margin: auto;
    }
  }
}



// HISTORIA

.seccion-historia{
  margin: 1.5rem 0;
  .tithis {
    color: red;
    text-align: center;
    transition: all 1s;
    margin-bottom: 1rem;
  }
  
  .phis {
    width: 80%;
    margin: auto;
    padding: 1rem;
    color: red;
    background-color: rgba(11, 11, 80, 0.89);
    border-radius: 10px;
    font-size: larger;
    transition: all 1s;
  }
}


// CONTACTO

.form-contacto{
  margin-top: 2rem;
  .titcont {
    color: red;
    border-radius: 40px;
    text-align: center;
    margin: 1rem 0;
  }
}

@media(max-width:600px){
  .main{
    .slide{
      img{
        height: 500px;
      }
    }
  }
  .seccion-ubicacion{
    .subtitubi {
      color: red;
      font-size: 1.3rem;
    }
    .imgubi {
      height: 350px;
      width: 300px;
    }
  }
}