.titubi {
    font-weight: 700;
    margin-inline-start: 600px;
    margin-inline-end: 670px;
    margin-left: 600px;
    background-color: rgb(16, 16, 110);
    color: red;
    border-radius: 40px;
    text-align: center;
  }
  .subtitubi {
    font-weight: 400px;
    margin-inline-start: 600px;
    margin-inline-end: 670px;
    margin-left: 600px;
    background-color: rgb(16, 16, 110);
    color: red;
    border-radius: 40px;
    text-align: center;
  }
  .imgubi {
    margin-inline-start: 650px;
    margin-top: 50px;
  }
  
  .tittrof {
    font-weight: 700;
    margin-inline-start: 600px;
    margin-inline-end: 670px;
    margin-left: 600px;
    background-color: rgb(16, 16, 110);
    color: red;
    border-radius: 40px;
    text-align: center;
  }
  
  .imgtrof {
    margin-inline-start: 390px;
    width: 1100px;
    height: 600px;
  }
  
  .tithis {
    font-weight: 700;
    margin-inline-start: 600px;
    margin-inline-end: 670px;
    margin-left: 600px;
    background-color: rgb(16, 16, 110);
    color: red;
    border-radius: 40px;
    text-align: center;
    transition: all 1s;}

    .tithis:hover{transform: scale(1.25)}
  
    .phis:hover{transform: scale(1.70)}
  
    .phis {
    color: red;
    margin-inline-start: 500px;
    margin-inline-end: 580px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    background-color: rgba(11, 11, 80, 0.89);
    font-size: larger;
    border-radius: 50px;
    transition: all 1s;}
  
  .titcont {
    font-weight: 700;
    margin-inline-start: 600px;
    margin-inline-end: 670px;
    margin-left: 600px;
    background-color: rgb(16, 16, 110);
    color: red;
    border-radius: 40px;
    text-align: center;
  }