@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap");
* {
  margin: 0;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

header {
  min-height: 10vh;
}

.navbarix {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-size: x-large;
  width: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "inicio contacto historia"
 "inicio trofeos  ubicacion";
}

.navbarix div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbarix div a {
  padding: .5rem;
  color: aliceblue;
  -webkit-transition: all .5s;
  transition: all .5s;
  text-decoration: none;
}

.navbarix div a img {
  height: 20vh;
}

.navbarix div a:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.inicio {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: inicio;
  background-repeat: no-repeat;
  background-size: 300px, 300px, 300x, 300px;
  background-position: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.contacto {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: contacto;
  background-color: #10106e;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.historia {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: historia;
  background-color: #b40808;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.trofeos {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: trofeos;
  background-color: #b40808;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.ubicacion {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: ubicacion;
  background-color: #10106e;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.a:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.menu {
  height: 300px;
  width: 300px;
  background-color: #b40808;
  padding-left: 0px;
  padding-top: 30px;
  list-style-type: none;
  border-radius: 50%;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-size: x-large;
}

.menu .menu__item {
  text-decoration: underline;
  margin-block: 10px;
  text-align: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menu__item:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

li a {
  color: #10106e;
  text-align: center;
}

@media (max-width: 600px) {
  .navbarix {
        grid-template-areas: "inicio contacto"
 "inicio historia"
 "inicio ubicacion"
 "inicio trofeos";
  }
  .navbarix div a {
    font-size: 1.2rem;
  }
}

fieldset {
  width: 50%;
  margin: auto;
  background-color: white;
  text-align: center;
  padding: .8rem;
resize: none;}

fieldset form {
  display: -ms-grid;
  display: grid;
  place-content: center;
resize: none;}

fieldset form input {
  margin-bottom: .8rem;
resize: none;}

fieldset form textarea {
  margin-bottom: .8rem;
resize: none;}

footer {
  background-color: black;
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding: 2rem;
}

 iframe {
  width: 300px;
    height: 300px;
    width: 500px;
    display: -ms-grid;
    display: grid;
    place-content: center;
    padding: 2rem;
  align-items: center;
justify-content: center;}

@media (max-width: 600px) {
  iframe {
    width: 300px;
    height: 300px;
    width: 500px;
    display: -ms-grid;
    display: grid;
    place-content: center;
    padding: 2rem;}
}

body {
  background: #10106e;
}

main {
  min-height: 90vh;
}

main .slide {
  width: 80%;
  margin: 1rem auto;
}

main .slide img {
  border: solid 4px black;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}

.seccion-ubicacion {
  text-align: center;
}

.seccion-ubicacion .titubi {
  color: #b40808;
  margin: 1.5rem 0;
}

.seccion-ubicacion .subtitubi {
  font-weight: 400px;
  color: #b40808;
}

.seccion-ubicacion .imgubi {
  margin-bottom: 1.5rem;
  height: 500px;
  width: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

.seccion-trofeos {
  margin: 2rem;
  text-align: center;
}

.seccion-trofeos .tittrof {
  color:#b40808;
  text-align: center;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin-bottom: 1rem;
}

.seccion-trofeos div {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.seccion-trofeos div .imgtrof {
  width: 60%;
  height: 600px;
  margin: auto;
}

.seccion-historia {
  margin: 1.5rem 0;
}

.seccion-historia .tithis {
  color:#b40808;
  text-align: center;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin-bottom: 1rem;
}

.seccion-historia .phis {
  width: 80%;
  margin: auto;
  padding: 1rem;
  color: #b40808;
  background-color: rgba(11, 11, 80, 0.89);
  border-radius: 10px;
  font-size: larger;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.form-contacto {
  margin-top: 2rem;
}

.form-contacto .titcont {
  color: #b40808;
  border-radius: 40px;
  text-align: center;
  margin: 1rem 0;
}

@media (max-width: 600px) {
  .main .slide img {
    height: 500px;
  }
  .seccion-ubicacion .subtitubi {
    color: #b40808;
    font-size: 1.3rem;
  }
  .seccion-ubicacion .imgubi {
    height: 350px;
    width: 300px;
  }
}


p{color: #b40808;
text-size-adjust: 50px;}
.card{align-items: center;
margin: 20px 20px 20px 20px;}

.titindex {text-align: center;
color: #10106e;
background-color:rgba(255, 0, 0, 0.705);
border-radius: 10cm;
margin: 1cm 10cm 0cm 10cm;}

.camisetas{ display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;}


@media (max-width: 600px) {
  .imgtrof{object-fit: cover;}}

  @media (max-width: 767px){ .imgtrof{content: url("./../images/tituls\ mini.jpg");}}
  .imgtrof{
    height: 250px;
    width:100%
  }
  
  @media (min-width :600px ){
    .imgtrof{
      background-image: url("../images/tituls\ mini.jpg");
      background-repeat: no-repeat;background-position: center;
  
    }
  }
  @media (max-width :600px ){
    .imgtrof{
      background-image: url("../images/tituls\ mini.jpg");
      height: 250px;
      width:100%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
/*# sourceMappingURL=estilo.css.map */