@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

*{margin: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif
  }
  
  .navbar {
    display: grid;
    align-items: center;
  }
  
  body {
    background-image: url("./../images/San-Lorenzo-campeon-copa-Libertadores-2014-1.webp");
  }
  .menu {
    height: 300px;
    width: 300px;
    background-color: rgba(255, 0, 0, 0.705);
    padding-left: 0px;
    padding-top: 30px;
    list-style-type: none;
    border-radius: 50%;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-size: x-large;
  }
  
  .menu__item {
    text-decoration: underline;
    margin-block: 10px;
    text-align: center;
    align-items: flex-end;
    transition: all .5s;
  }
  
  .menu__item:hover{
      transform: scale(1.25);
  }
  
  li a {
    color: rgb(16, 16, 110);
    text-align: center;
  }
  
  h1 {
    margin-inline-start: 600px;
    margin-inline-end: 670px;
    margin-left: 600px;
    background-color: rgb(16, 16, 110);
    color: red;
    border-radius: 40px;
    text-align: center;
  }
  
  .subtitubi {
    font-weight: 400px;
    margin-inline-start: 600px;
    margin-inline-end: 670px;
    margin-left: 600px;
    background-color: rgb(16, 16, 110);
    color: red;
    border-radius: 40px;
    text-align: center;
  }
  
  .titubi {
    font-weight: 700;
    margin-inline-start: 600px;
    margin-inline-end: 670px;
    margin-left: 600px;
    background-color: rgb(16, 16, 110);
    color: red;
    border-radius: 40px;
    text-align: center;
  }
  
  .imgubi {
    margin-inline-start: 650px;
    margin-top: 50px;
  }
  
  .tittrof {
    font-weight: 700;
    margin-inline-start: 600px;
    margin-inline-end: 670px;
    margin-left: 600px;
    background-color: rgb(16, 16, 110);
    color: red;
    border-radius: 40px;
    text-align: center;
  }
  
  .imgtrof {
    margin-inline-start: 390px;
    width: 1100px;
    height: 600px;
  }
  
  .tithis {
    font-weight: 700;
    margin-inline-start: 600px;
    margin-inline-end: 670px;
    margin-left: 600px;
    background-color: rgb(16, 16, 110);
    color: red;
    border-radius: 40px;
    text-align: center;
    transition: all 1s;}

    .tithis:hover{transform: scale(1.25)}
  
    .phis:hover{transform: scale(1.70)}
  
    .phis {
    color: red;
    margin-inline-start: 500px;
    margin-inline-end: 580px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    background-color: rgba(11, 11, 80, 0.89);
    font-size: larger;
    border-radius: 50px;
    transition: all 1s;}
  
  .titcont {
    font-weight: 700;
    margin-inline-start: 600px;
    margin-inline-end: 670px;
    margin-left: 600px;
    background-color: rgb(16, 16, 110);
    color: red;
    border-radius: 40px;
    text-align: center;
  }
  
  fieldset {
    margin-inline-start: 400px;
    margin-inline-end: 500px;
    background-color: white;
    margin-top: 50px;
    text-align: center;
    padding: 1rem;
  }
  
  form {
    text-align: justify;
    display: grid;
    place-content: center;
  }
  
  .navbarix {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-size: x-large;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "inicio contacto historia"
      "inicio trofeos  ubicacion";
  }
  
  .navbarix div {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .navbarix div a {
      border-radius: 50px;
      background-color: rgb(0, 0, 0);
      padding: .5rem;
      color: aliceblue;
      transition: all .5s;
    }
    
  .navbarix div a:hover {
      transform: scale(1.25);
  }
  
  .inicio {
    grid-area: inicio;
    background-image: url("./../images/escudo.jpg");
    background-repeat: no-repeat;
    background-size: 300px, 300px, 300x, 300px;
    background-position: center;
    transition: all 1s;
  }
  
  .contacto {
    grid-area: contacto;
    background-color: rgb(16, 16, 110);
    transition: all 1s;
  }
  
  .historia {
    grid-area: historia;
    background-color: rgb(180, 8, 8);
    transition: all 1s;
  }
  
  .trofeos {
    grid-area: trofeos;
    background-color: rgb(180, 8, 8);
    transition: all 1s;
  }
  
  .ubicacion {
    grid-area: ubicacion;
    background-color: rgb(16, 16, 110);
    transition: all 1s;
  }
  
  .a:hover{
    transform: scale(1.25);
}
  main div{
      padding: 2rem;
  }
  
  main div img{
      height: 600px;
      object-fit: cover;
  }
  
  footer {
    background-color: black;
    display: grid;
    place-content: center;
    padding: 2rem;
  }
  
  footer iframe{
      height: 300px;
      width: 600px;
  }
  